# 3번
설문조사 데이터      
데이터 출처 : 자체 제작    
데이터 경로 : /kaggle/input/adp-kr-p3/problem3.csv 

데이터 설명 : A ~ D까지의 그룹에게 각각 같은 설문조사를 하여 1-1,1-2,1-3...5-1,5-4 인 설문지를 푼 것이다. 문항은 영역별로 나뉘어 있고, 영역은 크게 5개이다(1~5)    
각 영역의 세부문항은 4개씩 존재한다 (1-1,1-2,1-3,1-4 ~) 이 때 중간에 반대 문항이 들어가 있다. 예를 들어 1-1 문제가 "나는 시간약속을 잘 지킨다."라는 문제라면 1-3의 문제는 "나는 시간약속을 잘 지키지 않는다." 라는 역문제로 구성 되어있다. 각 영역의 3번문항의 1번문항의 역문제이다. 
모든 답변은 5점 척도이다. 문제를 풀기전 모든 역문항의 경우 점수를 변환(6점을 빼서) 작업이 필요하다

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('./problem3.csv')
df.head()

,userid,group,Q1-1,Q1-2,Q1-3,Q1-4,Q2-1,Q2-2,Q2-3,Q2-4,...,Q3-3,Q3-4,Q4-1,Q4-2,Q4-3,Q4-4,Q5-1,Q5-2,Q5-3,Q5-4
0,0,A,5,2,1,2,4,5,3,3,...,1,1,5,2,5,3,3,4,3,4
1,1,A,2,2,3,3,4,3,1,4,...,2,3,4,3,5,3,1,2,1,1
2,2,A,1,3,4,4,2,1,4,4,...,4,2,1,3,4,1,3,3,2,5
3,3,A,3,3,4,2,2,4,4,3,...,2,3,3,4,2,4,1,1,3,2
4,4,A,3,1,2,3,4,3,4,1,...,5,1,3,2,3,1,3,2,5,4

### 3-1 역문항을 변환 한 후 각 그룹`(A~D)`의 영역`(Q1~Q5)`별 응답의 평균, 표준편차, 왜도, 첨도를 구하라. (각 통계량 별로 4x5 dataframe 생성)

In [ ]:
#평균, 표준편차, 왜도, 첨도

In [21]:
df_2 = df.loc[:,['group','Q3-3']].groupby('group').agg(['mean','std','skew'])

In [22]:
df_kurt = df.loc[:,['group','Q3-3']].groupby('group').apply(pd.DataFrame.kurt)

C:\Users\SCC202107006\anaconda3\lib\site-packages\pandas\core\groupby\ops.py:1328: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return libreduction.apply_frame_axis0(sdata, f, names, starts, ends)

In [26]:
df_full = pd.concat([df_2, df_kurt], axis=1)
df_full

       (Q3-3, mean)  (Q3-3, std)  (Q3-3, skew)      Q3-3
group
A             2.960     1.198392     -0.021340 -1.015664
B             2.828     1.118670     -0.037422 -0.980690
C             2.924     1.205003     -0.019564 -0.952762
D             2.816     1.125705      0.214932 -0.783640

### 3-2 그룹별로 Q1-1문항의 차이가 존재하는지 anova분석을 시행하라

In [37]:
A = df[df.group == 'A']['Q1-1']
B = df[df.group == 'B']['Q1-1']
C = df[df.group == 'C']['Q1-1']
D = df[df.group == 'D']['Q1-1']

In [40]:
from scipy.stats import levene
# 귀무가설 : 해당 데이터가 등분산성을 충족한다.
levene(A,
       B,
       C,D, center = 'median')

#등분산 해당됨.

LeveneResult(statistic=0.24718103455049822, pvalue=0.8633690011210747)

In [49]:
from scipy.stats import shapiro

# 귀무가설 : 해당 데이터가 정규성을 충족한다.
shapiro_test_A = shapiro(A)
shapiro_test_B = shapiro(B)
shapiro_test_C = shapiro(C)
shapiro_test_D = shapiro(D)

print('A 집단 정규성 검정 : {} \nB 집단 정규성 검정 : {} \nC 집단 정규성 검정 : {}  \nD 집단 정규성 검정 : {} '.format(shapiro_test_A,shapiro_test_B,shapiro_test_C,shapiro_test_D))

#전부 정규성 만족

A 집단 정규성 검정 : ShapiroResult(statistic=0.8959194421768188, pvalue=4.089666539447423e-12)
B 집단 정규성 검정 : ShapiroResult(statistic=0.9031107425689697, pvalue=1.2895768654319628e-11)
C 집단 정규성 검정 : ShapiroResult(statistic=0.9036667346954346, pvalue=1.4126045819184974e-11)
D 집단 정규성 검정 : ShapiroResult(statistic=0.8961024284362793, pvalue=4.2081052184506085e-12)

In [51]:
#one-way anova 
#귀무가설 : 집단간 모평균의 차이가 없다
#대립가설 : 집단간 모평균이 모두 같다고 할 수 없다.

from statsmodels.stats.oneway import anova_oneway

oa = anova_oneway(data = df['Q1-1'], groups = df['group'], use_var = 'equal')
print('stat : {:.3f}, p-value : {:.3f}\n'.format(oa.statistic, oa.pvalue))

#귀무가설을 기각할수 없으므로 집단간 모평균의 차이가 있다는 근거가 없다.

stat : 1.538, p-value : 0.203

### 3-3 탐색적 요인분석을 수행하고 결과를 시각화 하라